In [59]:
##################### Tuples ###############################
# immutable sequence, a tuple's contents cannot be changed.

In [60]:
t=(3,5,6,10)
t

(3, 5, 6, 10)

In [62]:
for n in t:
    print(n)

3
5
6
10

In [65]:
len(t) # length of a tuple
t[0]
t[-3] # backward

5

In [66]:
t[0]=2 # tples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#################### Lists ###############################
# dynamic data structures, list items may be added to them or removed from them durin a program

In [2]:
lst = list()

In [3]:
lst

[]

In [4]:
int_lst=[1,56,910]
type(int_lst)

list

In [5]:
float_lst=[3.4,5.2,6.9]
type(float_lst)

list

In [6]:
lst=['hello',5,3.4]
type(lst)

list

In [7]:
lst = list(range(1,20, 2))
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
# print list items
for item in lst:
    print(item)

1
3
5
7
9
11
13
15
17
19

In [9]:
# using index
i = 0
while i < len(lst):
    print(lst[i])
    i += 1

1
3
5
7
9
11
13
15
17
19

In [23]:
# Access using index
lst[0] = 100

In [24]:
# search for an item
if 5 in numbers:
    print(True)
else:
    print(False)

False

In [33]:
# Concatenating
numbers = int_lst + float_lst
numbers

[1, 56, 910, 3.4, 5.2, 6.9]

In [12]:
############ List Slicing ################
# Take a slice from a list using --- list[start : end]

In [20]:
#using index
numbers[2:5] # from index 2 to 3
numbers[:3] # from the start to index 3
numbers[3:] # from index 3 to the end of the list
numbers[:] # the whole list
numbers[-5:] # backword indexing: from last up to 5 places

[56, 910, 3.4, 5.2, 6.9]

In [34]:
############# List operations ####################
numbers.append(5) # append at end of list
numbers.insert(2, 100) # insert (index, value)
numbers.index(5) # search by value

[1, 56, 100, 910, 3.4, 5.2, 6.9, 5]

In [39]:
numbers.sort() # sorting in ascending order
#numbers.remove(5) # removes an item by value
numbers.reverse()
numbers

[910, 100, 56, 6.9, 5.2, 3.4, 1]

In [42]:
# Copy a list into a new list
new_numbers = list()
for n in numbers:
    new_numbers.append(n)
new_numbers

[910, 100, 56, 6.9, 5.2, 3.4, 1]

In [43]:
#################### List of Lists (2D) ####################
members=[['sam',21],['Tom',30],['Mark',23]]
members # 3 rows and 2 columns

[['sam', 21], ['Tom', 30], ['Mark', 23]]

In [44]:
members[1]  # second row

['Tom', 30]

In [55]:
members[1][1] # second row , second column
for i in range(3):
    print(i)

0
1
2

In [58]:
### Assign random numbers to a list
import random

random_list = [[0,0,0,0],
               [0,0,0,0],
               [0,0,0,0]]
def createList(rows, cols):
    for r in range(rows):
        for c in range(cols):
            random_list[r][c]= random.random()
    print(random_list)
createList(3,4)

[[0.785527733541457, 0.7569944496104792, 0.05789954380165052, 0.45839419693373995], [0.7961652199266959, 0.8748477122553281, 0.9365067515200984, 0.8604619795618758], [0.1037821465405444, 0.5169650895499784, 0.2684396686667442, 0.9803126493143229]]

In [1]:
####################### Dictionaries ###########################
#  Each element in a dictionary has two parts: a key and a value.

In [2]:
# empty dictionary
d = {}
type(d)

dict

In [3]:
members = {'x':101,'y':202, 'z':303}
members

{'x': 101, 'y': 202, 'z': 303}

In [4]:
# retrun a value using its key
members['x']

101

In [5]:
#length
len(members)

3

In [6]:
if 'x' in members:
    print(True)
else:
    print(False)

True

In [7]:
if 'x' not in members:
    print(True)
else:
    print(False)

False

In [8]:
# To add an element, assign a value to a new key
members['d'] = 505
members

{'x': 101, 'y': 202, 'z': 303, 'd': 505}

In [9]:
# remove an element
del members['x']
members

{'y': 202, 'z': 303, 'd': 505}

In [10]:
# dictionary of a list
grades= {
    'Sam':[50,40,20],
    'Tom':[33,28,60],
    'Mark':[23,11,90]
}
grades

{'Sam': [50, 40, 20], 'Tom': [33, 28, 60], 'Mark': [23, 11, 90]}

In [11]:
# loop over dictionary
# use key to print the value associated with
for k in grades:
    print(k, grades[k])

Sam [50, 40, 20]
Tom [33, 28, 60]
Mark [23, 11, 90]

In [12]:
grades.keys() # return dictionary keys without values
grades.values() # return dictionary values without keys
grades.pop('Tom') # return the value associated with 'Tom' then removes it from the dictionary
grades.clear() # clears the dictionary
grades

{}