In [1]:
print('Hello World!')

Hello World!

In [40]:
print("My name is Tom and I'm 15 years old")

My name is Tom and I'm 15 years old

In [43]:
print('Mansoura University','Egypt', sep='-')

Mansoura University-Egypt

In [45]:
# An escape character is a special character that is preceded with a backslash (\)
# \n new line, \t tab, \", \',and \\
print('Mansoura University \nEgypt')

Mansoura University
Egypt

In [46]:
print('Mansoura University \"Egypt\"')

Mansoura University "Egypt"

In [3]:
name = 'Tom'
age = 15
height = 150

In [4]:
print("My name is", name ," and I'm", age ," years old")

My name is Tom  and I'm 15  years old

In [5]:
type(name); type(age); type(height)

int

In [6]:
############# Strings ####################

In [9]:
status_code = "200"
status_text = " OK"
print(status_code+status_text) # concatenate

200 OK

In [10]:
status = status_code + status_text
print(status); print(status.lower()); print(status.isupper())

200 OK
200 ok
True

In [11]:
#length of a string
print(len(status))

6

In [12]:
# get a character by index
print(status[3])

In [13]:
# get the index
print(status.index('K')) # watch out! it's case-sensitive

5

In [14]:
#replace string or sub-string--- string.replace(old_subtring, new_substring)
status.replace('2','3')

'300 OK'

In [15]:
# split the staring at a specified mark--- string.split(delimiter)
sent = "Name|Age|Dept"
print(sent.split('|'))

['Name', 'Age', 'Dept']

In [16]:
############# Numbers ##################

In [32]:
x = 5
y = 3.14
z = 'Mansoura'
print(type(x)); print(type(y)); print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [35]:
a = int(y)
b = float(x)
c = str(x)
print(a,b,c)

3 5.0 5

In [19]:
################# Operators ####################

In [39]:
x = 8
y = 2
x+y; x-y; x*y; x/y; x**2; x%y; y//x; y/x

0.25

In [21]:
x += 2; x

10

In [22]:
x >= 3

True

In [23]:
x is y

False

In [24]:
x is not y

True

In [25]:
if x < y:
    print(x,' < ', y)
elif x > y:
    print(x,' > ', y)
else:
    print(x, ' = ', y)

10  >  2

In [26]:
################### Functions #############################
def addition(x,y):
    return x+y

In [27]:
addition(2,3)

5

In [29]:
######## Reading input from Keyboard--- input(prompt)
x = input('Enter first number')
y = input('Enter second number')
addition(x,y)

Enter first number6
Enter second number12

'612'

In [31]:
# note: whatever you accept from prompt is a string
# solve:
x =int(input('Enter first number')) 
y = int(input('Enter second number'))
addition(x,y)

Enter first number3
Enter second number12

15

In [1]:
#################### Loops ############################
rng = range(10)
for i in rng:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10