In [1]:
import pandas as pd
import numpy as np

In [2]:
cars_df = pd.read_csv('cars.csv')

In [3]:
# Q 1: From given data set print last 10 rows
cars_df.tail(10)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [4]:
# Q 2: Count number of observations and feature contained in your dataset
cars_df.shape

(61, 10)

In [5]:
# Q 3: Does your dataset contains miassing values?
cars_df.isnull().values.any()

True

In [6]:
# Q 4: If yes, What are the features that contains null or None values?
cars_df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [7]:
# Q 5: Which code syntax below would replace missing values in your dataset with a random number?
cars_df['price'].fillna(np.random.randint(10000), inplace= True)
# cars_df['column_name'].fillna(np.random.randint(10000))
# cars_df['column_name'].fillna(np.randint(10000), inplace= True)

In [8]:
# Q 6: Get number of cylanders for mazda cars. Chosoe the correct sequence from below
cars_df.loc[cars_df['company']=='mazda','num-of-cylinders']

27    four
28    four
29    four
30     two
31    four
Name: num-of-cylinders, dtype: object

In [9]:
# Q 7: Which synatx below would return highest price cars for each company
cars_df.groupby('company')['price'].max()
# [cars_df.groupby('company')]['price'].max()
# cars_df.groupby('company')['price'].max

IndentationError: unexpected indent (<ipython-input-9-77bd94995463>, line 2)

In [ ]:
# Q 8: According to your dataset index type, which slicing critera would work to get the first 3 observations
cars_df.loc[0:3,:]
#cars_df.iloc[0:3,:]
# both
# none

In [ ]:
# Q 9: Extract company name and price for cars with engine type 'dohc'. What is the third value ?
cars_df[['company', 'price']][cars_df['engine-type'] == 'dohc'] # jaguar	32250.0

In [12]:
# Q 10: loop over you datafram to add a 1000$ to the price of 'toyota' cars.
cars_df[cars_df.company=='toyota'][['price']].apply(lambda x: x+1000)
# increase = cars_df[['price']][cars_df.company == 'toyota'] increase +=1000

      price
48   6348.0
49   7338.0
50   7488.0
51   7918.0
52   8898.0
53   9778.0
54  16750.0

In [16]:
cars_df.loc[cars_df.company == 'toyota', 'price'] = cars_df.price+1000

In [17]:
cars_df.loc[cars_df.company == 'toyota', 'price']

48     6348.0
49     7338.0
50     7488.0
51     7918.0
52     8898.0
53     9778.0
54    16750.0
Name: price, dtype: float64

      price
48   6348.0
49   7338.0
50   7488.0
51   7918.0
52   8898.0
53   9778.0
54  16750.0