In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
# Ex 1: create a series from a list, numpy array and dict
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
# Solution 1: 
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser1);print(ser2); print(ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [4]:
# Ex 2: Combine ser1 and ser2 into a dataframe

In [5]:
# Soultion 2:
df = pd.DataFrame({'col1':ser1, 'col2': ser2})
df

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [6]:
# Ex 3: get the items of ser1 not present in ser2
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [7]:
# Soultion 3: 
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [8]:
# Ex 4: Get all items of ser1 and ser2 not common to both.
# first get the union and intersect, then retreive what appears in union and not in intersect

In [9]:
# Solution 4:
ser_union = pd.Series(np.union1d(ser1,ser2))
ser_intersect = pd.Series(np.intersect1d(ser1, ser2))
ser_union[~ser_union.isin(ser_intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [10]:
# Ex 5: From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
# first get unique values using ser.value_counts(), from the unique series replace all values after index 1 with 'Other'
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     3
1     4
2     1
3     1
4     4
5     2
6     2
7     3
8     3
9     1
10    2
11    1
dtype: int32

In [11]:
# Soultion 5:
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1     Other
2         1
3         1
4     Other
5     Other
6     Other
7         3
8         3
9         1
10    Other
11        1
dtype: object

In [12]:
# Ex 6: Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))

In [13]:
#soultion 6:
#df= pd.DataFrame(ser)
df= pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  6  3  9  1  8
1  3  4  8  3  9
2  2  4  6  1  9
3  1  3  5  1  3
4  9  1  6  5  8
5  7  2  8  1  9
6  9  9  2  5  2

In [14]:
# Ex 7: Find the positions of numbers that are multiples of 3 from ser.
np.random.seed(100)
ser = pd.Series(np.random.randint(1, 10, 7))

In [15]:
# Soultion 7:
multiple_7 = np.argwhere(ser % 3==0)
print(multiple_7); print(ser)

[[0]
 [1]]
0    9
1    9
2    4
3    8
4    8
5    1
6    5
dtype: int32

In [16]:
# Ex 8: From ser, extract the items at positions in list pos
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [17]:
#Soultion 8:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [18]:
# Ex 9: Stack ser1 and ser2 vertically , then stack horizontally to form a dataframe.
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [19]:
# Solution 9:
print(ser1.append(ser2)); # pd.concat([ser1, ser2], axis=0) # vertical

print(pd.concat([ser1, ser2], axis=1)) #horizontal

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [20]:
# Ex 10: Get the positions of items of ser2 in ser1 as a list.
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [21]:
# Solution 10:
for i in ser2:
    print(pd.Index(ser1).get_loc(i))
#[pd.Index(ser1).get_loc(i) for i in ser2]

5
4
0
8

In [22]:
# Ex 11: Change the first character of each word to upper case in each word of ser.
ser = pd.Series(['how', 'to', 'think', 'positive?'])

In [23]:
# Soultion 11: map() apply a function to all the elements of the series
ser.map(lambda x: x.title())

0          How
1           To
2        Think
3    Positive?
dtype: object

In [24]:
# Ex 12: Calculate the number of characters in each word in a series?
ser = pd.Series(['how', 'to', 'think', 'positive?'])

In [25]:
# Soultion 12:
ser.map(lambda x: len(x))

0    3
1    2
2    5
3    9
dtype: int64