In [1]:
import pandas as pd
import numpy as np

In [2]:
cars_df = pd.read_csv('cars.csv')

In [3]:
# Q 1: From given data set print last 10 rows
cars_df.tail(10)

TypeError: unhashable type: 'slice'

In [5]:
# Q 2: Count number of observations and feature contained in your dataset
cars_df.shape

(61, 10)

In [8]:
# Q 3: Does your dataset contains miassing values?
cars_df.isnull().values.any()

True

In [9]:
# Q 4: If yes, What are the features that contains null or None values?
cars_df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [21]:
# Q 5: Which code syntax below would replace missing values in your dataset with a random number?
cars_df['price'].fillna(np.random.randint(10000), inplace= True)
# cars_df['column_name'].fillna(np.random.randint(10000))
# cars_df['column_name'].fillna(np.randint(10000), inplace= True)

In [25]:
# Q 6: Get number of cylanders for mazda cars. Chosoe the correct sequence from below
cars_df.loc[cars_df['company']=='mazda','num-of-cylinders']

27    four
28    four
29    four
30     two
31    four
Name: num-of-cylinders, dtype: object

In [37]:
# Q 7: Which synatx below would return highest price cars for each company
 cars_df.groupby('company')['price'].max()
# [cars_df.groupby('company')]['price'].max()
# cars_df.groupby('company')['price'].max

In [47]:
# Q 8: According to your dataset index type, which slicing critera would work to get the first 3 observations
#cars_df.loc[0:3,:]
cars_df.iloc[0:3,:]
# both
# none

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

In [51]:
# Q 9: Extract company name and price for cars with engine type 'dohc'. What is the third value ?
cars_df[['company', 'price']][cars_df['engine-type'] == 'dohc'] # jaguar	32250.0

        company    price
0   alfa-romero  13495.0
1   alfa-romero  16500.0
24       jaguar  32250.0
25       jaguar  35550.0
54       toyota  15750.0

In [60]:
# Q 10: loop over you datafram to add a 1000$ to the price of 'toyota' cars.
cars_df[cars_df.company=='toyota'][['price']].apply(lambda x: x+1000)

      price
48   6348.0
49   7338.0
50   7488.0
51   7918.0
52   8898.0
53   9778.0
54  16750.0